/*
* Author: Amanpreet Singh
* Email:  Amanpreet.dev@gmail.com
*/

// Component Definitions, Elements, modifiers, and Properties

DEF_MODIFIER_CLSN = 'use';
DEF_CMP_CLSN = 'cmp';
DEF_PROP_CLSN = 'p';
DEF_BOOL_CLSN = 'is';

DEF_MODIFIER = '.' + DEF_MODIFIER_CLSN;
DEF_CMP = '.' + DEF_CMP_CLSN;
DEF_EL = '&';
DEF_PROP = '&.' + DEF_PROP_CLSN;
DEF_VAL = '&';
DEF_BOOL = '&.' + DEF_BOOL_CLSN;
DEF_EXM = '&-';